/.bundle
/.yardoc
/_yardoc/
/coverage/
/doc/
/log/
/tmp/
/db/*.sqlite3
/db/*.sqlite3-*
/public/system/
/public/assets
/public/packs
/public/packs-test
/node_modules/
/yarn-error.log
yarn-debug.log*
.byebug_history
.rspec_status
/test/fixtures/files/*
!/test/fixtures/files/.keep
/storage/*
/tmp/
/config/master.key
/config/credentials/*.key
/vendor/bundle/**
/log/**
/tmp/**
.env
.env.*
!.env.example
*.swp
*.swo
*~
.DS_Store

# Ignore key files for decrypting credentials and more.
/config/*.key