@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-bg: #ffffff;
  --color-text: #0f172a;
}

.dark {
  --color-bg: #0f172a;
  --color-text: #f1f5f9;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
}
